{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        .hidden {display: none}
        .visible {display: block}
    </style>

    <script src="{% static 'js/bundle.js' %}"></script>
    <meta charset="UTF-8">
    <title>Main site</title>
</head>
<body>
<h1>Main site</h1>
<br><br>
<button onclick="MoveToForm()">New event</button>
<br><br>
<button onclick="Show_today_events()">Show todays events</button>
<br><br>
<button id = "jokeButton">Joke</button>
<button id="hiddJokeButton" >Hide joke</button>
<button id="test" >test</button>
<br><br>
<div id="jokeContainer" class="hidden">
    <p id="jokeSetup"></p>
    <p id="jokePunchline"></p>
</div>


<script>
    function MoveToForm() {
        window.location.href = "form"
    }

    function Show_today_events() {
        window.location.href = "callendar"

    }

</script>

</body>
</html>